@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  list-style-type: none;
}

ul, li {
  list-style: none;
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a, button, input, textarea {
  background: none;
}

@font-face {
  font-family: "Parangon530C";
  src: local("Parangon530C"), url("https://nomail.com.ua/files/woff/7ca193358a8f826917a012c7bad68b7f.woff") format("woff");
}
@font-face {
  font-family: "FuturaBT-Bold";
  src: local("FuturaBT-Bold"), url("https://nomail.com.ua/files/woff/77c39d7d46ba8c98529571e14b59cb99.woff") format("woff");
}
@font-face {
  font-family: "FuturaBT-Book";
  src: local("FuturaBT-Book"), url("https://nomail.com.ua/files/woff/ead5c28b0b3c60d481994292f7418a7d.woff") format("woff");
}
@font-face {
  font-family: "Tahoma-Bold";
  src: local("Tahoma-Bold"), url("https://nomail.com.ua/files/woff/269a3173c2531cfc6b376971a672dac3.woff") format("woff");
}
@font-face {
  font-family: "PTSans-Caption";
  src: local("PTSans-Caption"), url("https://nomail.com.ua/files/woff/b1b337adf11ce099611ca3c66d3def5a.woff") format("woff");
}
@font-face {
  font-family: "MyriadPro-Cond";
  src: local("MyriadPro-Cond"), url("https://nomail.com.ua/files/woff/e2a5e608ba42366402cbf775c06f3f15.woff") format("woff");
}
.wrapper {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
  grid-template-rows: auto 1fr auto;
}

img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.header__top {
  background: url("../img/header__background.png") no-repeat;
  background-size: cover;
}
.header__top-container {
  background: rgba(72, 64, 88, 0.7);
  width: 100%;
  height: 100%;
  padding: 198px 0px 122px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.header__top-title {
  font-family: "Parangon530C";
  font-size: 48px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0 0 52px 0;
  max-width: 1075px;
  line-height: 72px;
}
.header__top-subtitle {
  font-family: "PTSans-Caption";
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0 0 68px 0;
  max-width: 830px;
  line-height: 36px;
}
.header__top-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__top-card {
  width: 251px;
  height: 160px;
  position: relative;
  padding: 45px 0 40px 0;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 55px 0 0;
}
.header__top-card:last-child {
  margin: 0;
}
.header__top-card > img {
  position: absolute;
  top: -15px;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  overflow: hidden;
}
.header__top-card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 1px;
  background: #fff;
}
.header__top-card::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 90px;
  height: 1px;
  background: #fff;
}
.header__top-card-number {
  font-family: "Parangon530C";
  font-size: 48px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.header__top-card-descr {
  font-family: "PTSans-Caption";
  font-size: 18px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.header__menu {
  padding: 40px 0;
  border-bottom: 2px solid #afafaf;
}
.header__menu-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (min-width: 1500px) {
  .header__menu-links {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.header__menu-link {
  letter-spacing: 0.05em;
  margin: 0 39px 0 0;
}
.header__menu-link > a {
  -webkit-transition: 1s;
  transition: 1s;
  font-family: FuturaBT-Book;
  font-size: 30px;
  color: #000000;
}
.header__menu-link:last-child {
  margin: 0 130px 0 0;
}
@media (max-width: 950px) {
  .header__menu-link:last-child {
    margin: 0;
  }
}
.header__menu-link:hover > a {
  color: #f6ae48;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.body__block1 {
  padding: 0 0 250px 0;
}
.body__block1-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 170px 0 0 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 221px 0;
}
.body__block1-top-title {
  font-family: "HelveticaNeueCyr";
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0 222px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__block1-top-descr {
  font-family: Arial;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 775px;
}
.body__block1-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body__block1-item {
  font-family: Arial;
  max-width: 400px;
  margin: 0 0px;
  padding: 25px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  min-height: 400px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block1-item.active {
  background-color: #f6ae48;
  color: #fff;
}
.body__block1-item:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px #8d8c8c;
          box-shadow: 0px 0px 5px #8d8c8c;
  background-color: #bdbdbd;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block1-item-img {
  margin: 0 0 10px 0;
  height: 60px;
}
.body__block1-item-img > img {
  max-width: 100%;
  height: auto;
  max-height: 58px;
  -o-object-fit: cover;
     object-fit: cover;
}
.body__block1-item-title {
  font-size: 20.5px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #000000;
  margin: 0 0 10px 0;
}
.body__block1-item-descr {
  font-size: 15.4px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000000;
}
.body__block1-item-price {
  display: none;
  margin: 10px 0 0 0;
  width: 131px;
  height: 36px;
  border: 2px solid #ffffff;
  position: relative;
}
.body__block1-item-price > button {
  font-family: "MyriadPro-Cond";
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body__block1-item-price:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px #fff;
          box-shadow: 0px 0px 5px #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block2-top {
  background: url("../img/body__block2_background1.png");
  background-size: cover;
}
.body__block2-topcontainer {
  background-color: rgba(102, 103, 132, 0.67);
  text-align: center;
  padding: 120px 220px 160px 220px;
}
.body__block2-top-title {
  font-family: "Exo 2";
  font-size: 50px;
  line-height: 48px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0 0 65px 0;
}
.body__block2-top-information {
  font-size: 24px;
  line-height: 46px;
  letter-spacing: 0.15em;
  color: #ffffff;
}
.body__block2-bottom {
  position: relative;
  z-index: 2;
  padding: 70px 0 0 0;
}
.body__block2-bottom-contain {
  background: url("../img/body__block2_background2.png") no-repeat;
  position: absolute;
  top: -15%;
  left: 0;
  width: 100%;
  height: 526px;
  z-index: 0;
}
.body__block2-bottom-contain::after {
  content: "";
  position: absolute;
  width: 200px;
  height: 293px;
  opacity: 0.38;
  top: 20px;
  left: 0;
  background: url("../img/body__block2_setting.png") no-repeat;
  z-index: 1;
}
.body__block2-bottom-title {
  position: relative;
  font-family: "Parangon530C";
  font-size: 50px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 0 0 0 140px;
  margin: 0 0 77px 0;
}
.body__block2-bottom-items {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body__block2-bottom-item {
  width: 363px;
  height: 315px;
  margin: 0 15px 0 0;
  font-family: "FuturaBT-Bold";
  font-size: 50.6px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.body__block2-bottom-item.item1 {
  background: url("../img/body__block2_item1.png");
}
.body__block2-bottom-item.item2 {
  background: url("../img/body__block2_item2.png");
}
.body__block2-bottom-item.item3 {
  background: url("../img/body__block2_item3.png");
}
.body__block2-bottom-item-container {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 75px 0 35px 31px;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}
.body__block2-bottom-item-price {
  width: 200px;
  height: 55px;
  border: 2.7px solid #00b9e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block2-bottom-item-price > button {
  font-family: "MyriadPro-Cond";
  font-size: 24.3px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #feffff;
}
.body__block2-bottom-item-price:hover {
  background: rgba(156, 156, 156, 0.8);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block3 {
  padding: 170px 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.body__block3-text {
  margin: 0 180px 0 0;
  padding: 50px 0 0 0;
}
.body__block3-text-title {
  font-family: "Parangon530C";
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #060606;
  margin: 0 0 45px 0;
}
.body__block3-text-descr {
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #000000;
  max-width: 570px;
}
.body__block3-partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body__block3-partners > img {
  margin: 0 0 35px 0;
}
.body__block3-partners > img:last-child {
  margin: 0;
}
.body__block4 {
  background-color: #303263;
}
.body__block4-title {
  font-family: "Parangon530C";
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  padding: 45px 0;
  text-align: center;
}
.body__block4-galary {
  overflow: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: minmax(200px, 400px) minmax(200px, 400px);
  grid-template-rows: minmax(200px, 400px) minmax(200px, 400px);
}
.body__block4-galary > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.body__block4-galary > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}
.body__block4-galary > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.body__block4-galary > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
}
.body__block4-galary > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}
.body__block4-galary > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}
.body__block4-galary > *:nth-child(7) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.body__block4-galary > *:nth-child(8) {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
}
.body__block4-galary > img:nth-child(1) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.body__block4-galary > img:nth-child(2) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
}
.body__block4-galary > img {
  -o-object-fit: cover;
     object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 1170px) {
  .body__block4-galary {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: (minmax(200px, 400px))[4];
    grid-template-rows: repeat(4, minmax(200px, 400px));
  }
  .body__block4-galary > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .body__block4-galary > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  .body__block4-galary > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .body__block4-galary > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
  .body__block4-galary > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .body__block4-galary > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }
  .body__block4-galary > *:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }
  .body__block4-galary > *:nth-child(8) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }
  .body__block4-galary > img:nth-child(1) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .body__block4-galary > img:nth-child(2) {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}
.body__block4-button {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body__block4-button > button {
  width: 240px;
  height: 66px;
  background: #6a6b8e;
  border-radius: 10px;
  font-family: "Parangon530C";
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block4-button > button:hover {
  background: #47485d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.body__block5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 160px 0 169px 200px;
}
.body__block5-left {
  margin: 0 100px 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
  grid-template-rows: 1fr auto;
}
.body__block5-left-title {
  font-family: "Parangon530C";
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #060606;
  margin: 0 0 42px 0;
}
.body__block5-left-text {
  font-family: Arial;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #000000;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 1600px) {
  .body__block5-left-text {
    max-width: 550px;
  }
}
@media (min-width: 1600px) {
  .body__block5-left-text {
    max-width: 800px;
  }
}
@media (min-width: 1800px) {
  .body__block5-left-text {
    max-width: 1600px;
  }
}
.body__block5-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.body__block5-right-phone {
  margin: 0 70px 0 0;
  background-color: rgba(28, 28, 28, 0);
  border: 3px solid #00b9e7;
  padding: 15px 2px;
  border-radius: 10px;
}
.body__block5-right-notebook {
  margin: 0 90px 0 0;
  background-color: rgba(28, 28, 28, 0);
  border: 4px solid #00b9e7;
  padding: 30px 15px;
  border-radius: 10px;
  position: relative;
}
.body__block5-right-notebook:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 16px;
  height: 16px;
  background-color: rgba(24, 25, 25, 0);
  border: 3px solid #00b9e7;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.body__block5-right-notebook::before {
  content: "";
  position: absolute;
  top: 0;
  width: 4px;
  height: 4px;
  background-color: rgba(91, 106, 216, 0);
  border: 3px solid #00b9e7;
  border-radius: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 100%);
          transform: translate(-50%, 100%);
}
.body__block5-right-decktop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.body__block5-right-decktop-monitor {
  padding: 20px 0 0 20px;
  background: url("../img/body__block5_img3_2.png") no-repeat;
  margin: 0 0 1px 0;
  border-bottom: 3px solid #00b9e7;
}
.body__block5-right-decktop-keyboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.body__block6 {
  background: url("../img/body__block6_background.png");
}
.body__block6-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 50px 50px 50px;
  background: rgba(34, 42, 55, 0.8);
}
.body__block6-title {
  font-family: "Parangon530C";
  font-size: 48px;
  letter-spacing: 0.05em;
  color: #ffffff;
  text-align: center;
  margin: 0 0 100px 0;
}
.body__block6-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 20px 0;
}
.body__block6-item {
  margin: 0 50px 0 0;
}
.body__block6-item:last-child {
  margin: 0;
}
.body__block6-item-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px 30px 0;
  position: relative;
  padding: 0 0 0 90px;
}
.body__block6-item-head-img {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, -25%);
          transform: translate(0%, -25%);
}
.body__block6-item-head-title {
  font-family: "Parangon530C";
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.body__block6-item-text {
  font-family: Arial;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.body__block6-item-button {
  width: 330px;
  height: 64px;
  background-color: #f6ae48;
  border-radius: 20px;
  font-family: "Parangon530C";
  font-size: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block6-item-button:hover {
  background-color: #655845;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 100px 100px 190px 200px;
}
.body__block7-information {
  margin: 70px 38px 0 0;
}
.body__block7-information-title {
  font-family: "Parangon530C";
  font-size: 36px;
  letter-spacing: 0.05em;
  color: #060606;
  margin: 0 0 43px 0;
}
.body__block7-information-descr {
  font-family: Arial;
  font-size: 24px;
  line-height: 48px;
  letter-spacing: 0.05em;
  color: #000000;
}
@media (max-width: 1550px) {
  .body__block7-information-descr {
    max-width: 550px;
  }
}
@media (max-width: 1700px) {
  .body__block7-information-descr {
    max-width: 750px;
  }
}
@media (max-width: 1900px) {
  .body__block7-information-descr {
    max-width: 900px;
  }
}
.body__block8 {
  background: url("../img/body__block8_background.png") no-repeat;
  background-size: cover;
}
.body__block8-container {
  background: rgba(74, 64, 87, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 130px 150px 115px 170px;
}
.body__block8-information {
  margin: 0 200px 0 0;
}
.body__block8-information-title {
  font-family: "Parangon530C";
  font-size: 30px;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0 0 55px 0;
}
.body__block8-information-text {
  font-family: Arial;
  font-size: 18px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #ffffff;
  max-width: 360px;
}
.body__block8-form-inputs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 0 15px 0;
}
.body__block8-form-inputs-name {
  border: 4px solid #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  width: calc(100vw*0.2);
}
.body__block8-form-inputs-name > input {
  padding: 20px 20px;
}
.body__block8-form-inputs-name > input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-name > input::-moz-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-name > input:-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-name > input::-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-name > input::placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-surname {
  border: 4px solid #ffffff;
  border-left: 2px solid #ffffff;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}
.body__block8-form-inputs-surname > input {
  padding: 20px 20px;
}
.body__block8-form-inputs-surname > input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-surname > input::-moz-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-surname > input:-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-surname > input::-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-surname > input::placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-mail {
  border-top: 0px solid #ffffff;
  border-left: 4px solid #ffffff;
  border-right: 4px solid #ffffff;
  border-bottom: 4px solid #ffffff;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}
.body__block8-form-inputs-mail > input {
  padding: 20px 20px;
}
.body__block8-form-inputs-mail > input::-webkit-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-mail > input::-moz-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-mail > input:-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-mail > input::-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-mail > input::placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-textarea {
  border: 4px solid #ffffff;
  border-top: 0px;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  height: calc(100vw*0.1);
}
.body__block8-form-inputs-textarea > textarea {
  padding: 10px 20px;
  width: 100%;
  height: 100%;
  resize: none;
}
.body__block8-form-inputs-textarea > textarea::-webkit-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-textarea > textarea::-moz-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-textarea > textarea:-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-textarea > textarea::-ms-input-placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-inputs-textarea > textarea::placeholder {
  color: #ffffff;
  font-family: Arial;
  font-size: 18px;
  letter-spacing: 0.05em;
}
.body__block8-form-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 20px;
}
.body__block8-form-button-info {
  font-family: Arial;
  line-height: 24px;
  letter-spacing: 0.05em;
  color: #ffffff;
}
.body__block8-form-button-but {
  width: 143px;
  height: 44px;
  background-color: #f6ae48;
  border-radius: 15px;
  font-family: "Parangon530C";
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.body__block8-form-button-but:hover {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #655845;
  cursor: pointer;
}

.body__block1-item.active > .body__block1-item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer {
  height: 108px;
  background-color: #f6ae48;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  font-size: 18px;
}

.body__block1 {
  display: none;
}
.body__block2 {
  display: none;
}
.body__block3 {
  display: none;
}
.body__block4 {
  display: none;
}
.body__block5 {
  display: none;
}
.body__block6 {
  display: none;
}
.body__block7 {
  display: none;
}
.body__block8 {
  display: none;
}